{% extends '::associationLister.html.twig' %}


{% block ass %}



    <h2>la liste des associations </h2>


        {% for m in ASS %}
            <div>
                {#<p bgcolor="#7fff00">nom</p>#}

                <label>nom </label>
                  {{ m.nom }}

            </div>
<div>
                <label>description</label>
                {{ m.description }}
</div>
            <div>
                <label bgcolor="#7fff00">numTel</label>
                 {{ m.numTel }}
            </div>

            <div>
                <label bgcolor="#7fff00">user</label>
                {{ m.user }}
            </div>

            <div>
                <label bgcolor="#7fff00">gouvernorat</label>
                 {{ m.gouvernorat }}
            </div>

            <div>
                <label bgcolor="#7fff00">municipalite</label>
                {{ m.municipalite }}
            </div>

            <div>
                <label bgcolor="#7fff00">nom_rue</label>
                 {{ m.nomrue}}
            </div>


                <label><a href="{{ path("Modifier_Association",{'id':m.id_aasociation } ) }}">Modifier</a></label>

            {#<input type="button" onclick="{{ path("Modifier_Association",{'id':m.id_aasociation } ) }}" value="Modifier">#}

<span></span><span></span>
                <label><a href="{{ path("Supprimer_Association",{'id':m.id_aasociation } ) }}">Supprimer</a></label>


            </div>

        {% endfor %}



{% endblock ass %}

