{% extends '::teamConsulter.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block topline %}{% endblock topline %}

{% block liste %}
<section class="team-page">
    <div class="container">
        <div class="row">
                <div class="col-xs-12">


                {% for m in ASS %}


                        <div class="team-person">
                            <div class="about-person">
                                <p class="grand-hotel">Association</p>
                                <h3>{{ m.nom }}</h3>
                                <div class="person-divider"></div>
                                <p>
                                    {{ m.description }}
                                </p>
                            </div>
                            <div class="person-social" >
                                <p>
                                    {{ m.numTel }}
                                </p>
                                <div class="social-icons">
                                    <a href="#" class="social-icon color-bg-icon rounded-icon soc-facebook"></a>
                                    <a href="#" class="social-icon color-bg-icon rounded-icon soc-twitter"></a>
                                    <a href="#" class="social-icon color-bg-icon rounded-icon soc-skype"></a>

                                    <br><br>

                                    {#<label><a href="{{ path("Modifier_Association",{'id':m.id_aasociation } ) }}">Modifier</a></label>#}

                                    {% if is_granted('ROLE_RESPONSABLE_ASSOCIATION') %}
                                    <label><a href="{{ path("Modifier_Association",{'id':m.id_aasociation } ) }}">Modifier</a></label>

                                    <label><a href="{{ path("Supprimer_Association",{'id':m.id_aasociation } ) }}">Supprimer</a></label>
                                    {% endif %}
                                    <br><br>
                                    <label><a href="{{ path("Consulter_Association",{'id':m.id_aasociation } ) }}">Consulter</a></label>


                                </div>
                        {#    </div>

                            <div >#}

                            </div>
                        </div>



                {% endfor %}



                </div>

        </div>
    </div>



</section>
    {# display navigation #}
    <div class="pagerArea text-center"  >
       <strong> {{ knp_pagination_render(ASS) }} </strong>
    </div>
{% endblock liste %}

