{% extends '::association.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block topline %}{% endblock topline %}

  {% block menu %}
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <!-- main nav start -->
                  <nav class="mainmenu_wrapper">
                      <ul class="mainmenu sf-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                          <li  class="active">
                              <a href="{{ path('Home_Page') }}">Home</a>
                          </li>

                          <li class="active">
                              <a href="#">Offre de Transport</a>
                              <ul>
                                  <li><a href="{{ path('Ajouter_OffreTransport') }}">Créer une Offre de Transport</a></li>
                                  <li><a href="{{ path('Rechercher_OffreTransport') }}">Liste des Offres de Transport</a></li>
                                  <li><a href="{{ path('Liste_Reservation_OffreTransport') }}">Voir mes réservations</a></li>
                              </ul>
                          </li>
                          <li  class="active">
                              <a href="{{ path('calendrier_evenement') }}">Evenements</a>
                              <ul>
                                  <li><<a href="{{ path('calendrier_evenement') }}">Calendrier</a> </li>
                                  <li><<a href="{{ path('list_evenement') }}">List Evenement</a> </li>

                                  <li><<a href="{{ path('creer_evenement') }}">Crèer Evenement</a> </li>
                              </ul>
                          </li><li class="active">

                              <a>Association</a>
                              <ul>
                                  {% if is_granted('ROLE_RESPONSABLE_ASSOCIATION') %}
                                      <li  >
                                          <a href="{{ path('Ajouter_Association') }}"> Ajouter mon association</a>
                                      </li>
                                  {% endif %}
                                  <li  >
                                      <a href="{{ path('Lister_Associations') }}"> Listes des associations </a>
                                  </li>
                                  <li >
                                      <a href="{{ path('Rechercher_Association') }}"> Chercher association </a>
                                  </li>
                              </ul>

                          </li>


                          <li class="active">

                              <a>Club</a>
                              <ul>
                                  {% if is_granted('ROLE_RESPONSABLE_CLUB') %}
                                      <li  >
                                          <a href="{{ path('Ajouter_Club') }}"> Ajouter mon club</a>
                                      </li>
                                  {% endif %}

                                  <li  >
                                      <a href="{{ path('Lister_Club') }}"> Listes des club </a>
                                  </li>
                                  <li >
                                      <a href="{{ path('Rechercher_Club') }}"> Chercher club </a>
                                  </li>
                              </ul>

                          </li>


                          <li>
                              <a >Reclamation</a>
                              <ul>
                                  <li>
                                      <a href="{{ path('Envoyer_Reclamations') }}">Envoyer reclamation</a>
                                  </li>

                              </ul>
                          </li>
                      </ul>
                  </nav>
                  <!-- eof main nav -->
                  <div class="toggle_menu-wrap" data-spy="affix" data-offset-top="246">
                      <span class="toggle_menu"><span></span></span>
                  </div>
              </div>

          </div>
      </div>
  {% endblock menu %}


{% block sousMenu %}
    <section class="page_breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>Club</h3>
                    <ol class="breadcrumb">
                        <li>
                            <a href="calendar.html">

                            </a>
                        </li>
                        <li>
                            <a href="{{ path('Lister_Club') }}"> Lister </a>
                        </li>
                        <li  class="active">
                            <a href="{{ path('Ajouter_Club') }}"> Ajouter </a>
                        </li>
                        <li>
                            <a href="{{ path('Rechercher_Club') }}"> chercher </a>
                        </li>



                    </ol>
                </div>
            </div>
        </div>
    </section>
{% endblock sousMenu %}



{% block ass %}

    <div class="row" >

        <div class="col-sm-push-6">
            {#<div class="col-sm-6">#}
            <div class="panel-group" id="accordion1">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                           <a data-toggle="collapse" data-parent="#accordion1" href="#collapse2"  style="text-align: center">
                                {#<a data-toggle="collapse" data-parent="#accordion2" href="#collapse6">  class="collapsed"  #}
                                <i class="rt-icon2-bubble highlight"></i>
                                Ajouter Club
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">


                            {{ form_start(form) }} {# form methode= action =#}
                            <table>
                                <tr>
                                    <td>Nom</td>
                                    <td>{{ form_widget (form.nom, { 'attr': {'class': "form-control",'placeholder': 'nom'|trans} }) }}</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>{{ form_widget(form.description, { 'attr': {'class': "form-control",'placeholder': 'description'|trans} }) }}</td>
                                </tr>

                                <tr>
                                    <td>Num tel</td>
                                    <td>{{ form_widget  (form.numTel, { 'attr': {'class': "form-control",'placeholder': 'numTel'|trans} })  }}</td>
                                </tr>

                                {#  <tr>
                                      <td>user</td>
                                      <td>{{ form_widget  (form.user, { 'attr': {'class': "form-control"} }) }}</td>
                                  </tr>#}


                                <tr>
                                    <td>Gouvernerat</td>
                                    <td>{{ form_widget(form.gouvernorat, { 'attr': {'class': "form-control"} }) }}</td>
                                </tr>


                                <tr>
                                    <td>Municipalite</td>
                                    <td>{{ form_widget (form.municipalite, { 'attr': {'class': "form-control",'placeholder': 'municipalite'|trans} })  }}</td>
                                </tr>



                                <tr>
                                    <td>nom rue</td>
                                    <td>{{ form_widget (form.nomrue, { 'attr': {'class': "form-control",'placeholder': 'nomrue'|trans} }) }}</td>
                                </tr>



                                <tr>
                                    <td>code rue</td>
                                    <td>{{ form_widget(form.coderue, { 'attr': {'class': "form-control",'placeholder': 'coderue'|trans} })  }}</td>
                                </tr>
                            </table>

                            {{ form_end(form) }}

                        </div>

                    </div>

                </div>







            </div>

        </div>
    </div>


{% endblock ass %}