{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Home{% endblock title %}
{% block topline %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>

{% endblock topline %}
{#{% block page %}

    <nav class="mainmenu_wrapper">
        <ul class="mainmenu sf-menu">

            <li  class="active">
                <a href="{{ path('Ajouter_Club') }}"> Ajouter mon club </a>
            </li>

            <li  class="active">
                <a href="{{ path('Lister_Club') }}"> Listes des clubs </a>
            </li>
            <li  class="active">
                <a href="{{ path('Rechercher_Club') }}"> Chercher club </a>
            </li>
        </ul>
    </nav>
    <!-- eof main nav -->
    <div class="toggle_menu-wrap" data-spy="affix" data-offset-top="425">
        <span class="toggle_menu"><span></span></span>
    </div>


{% endblock page %}#}
{% block main %}

    <h2>Rechercher club </h2>

    <form method="post">
        <tr>
            <td>Gouvernerat</td>

            <td>
                <select name="gouv">
                    <option value="Ariana">Ariana</option>
                    <option value="Béja">Béja</option>
                    <option value="Ben Arous">Ben Arous</option>
                    <option value="Bizerte">Bizerte</option>
                    <option value="Gabès">Gabès</option>
                    <option value="Gafsa">Gafsa</option>
                    <option value="Jendouba">Jendouba</option>
                    <option value="Kairouan">Kairouan</option>
                    <option value="Kasserine">Kasserine</option>
                    <option value="Kébili">Kébili</option>
                    <option value="Le Kef">Le Kef</option>
                    <option value="Mahdia">Mahdia</option>
                    <option value="La Manouba">La Manouba</option>
                    <option value="Médenine">Médenine</option>
                    <option value="Monastir">Monastir</option>
                    <option value="Nabeul">Nabeul</option>
                    <option value="Sfax">Sfax</option>
                    <option value="Sidi Bouzid">Sidi Bouzid</option>
                    <option value="Siliana">Siliana</option>
                    <option value="Sousse">Sousse</option>
                    <option value="Zaghouan">Zaghouan</option>
                    <option value="Tataouine">Tataouine</option>
                    <option value="Tozeur">Tozeur</option>
                    <option value="Tunis">Tunis</option>
                    <option value="autre">Autre</option>

                </select> </br></br>
            </td>
        </tr>

        <tr ><input type="submit" text="chercher" name="chercher" value="Rechercher"></tr>
    </form>


    <table border="1">

        <tr>

            <td bgcolor="#7fff00">nom</td>
            <td bgcolor="#7fff00">description</td>
            <td bgcolor="#7fff00">numTel</td>
            <td bgcolor="#7fff00">user</td>

            <td bgcolor="#7fff00">gouvernorat</td>
            <td bgcolor="#7fff00">municipalite</td>
            <td bgcolor="#7fff00">nom_rue</td>
            <td bgcolor="#7fff00">code_rue</td>

            <td bgcolor="#dcdcdc">Modification</td>
            <td bgcolor="#dcdcdc">Suppression</td>

        </tr>

        {% for m in C %}
            <tr>

                <td>  {{ m.nom }} </td>
                <td> {{ m.description }} </td>
                <td> {{ m.numTel }} </td>
                <td> {{ m.user }} </td>
                <td> {{ m.gouvernorat }} </td>
                <td> {{ m.municipalite }} </td>
                <td> {{ m.nomrue}} </td>
                <td> {{ m.coderue }} </td>




                <td><a href="{{ path("Modifier_Club",{'id':m.idclub } ) }}">Modifier</a></td>
                <td><a href="{{ path("Supprimer_Club",{'id':m.idclub } ) }}">Supprimer</a></td>


            </tr>

        {% endfor %}



    </table>


{% endblock main %}

{% block footer %}
{% endblock footer %}