
{% extends '::base.html.twig' %}
{% block page %}
{% endblock page %}
{% block title %}
{% endblock title %}
{% block topline %}
{% endblock topline %}
{% block main %}




    <div class="comment-respond" id="respond">


    {{ form_start(form) }}
    <form class="comment-form" id="commentform" method="post" action="">
        <div class="light-bg padding-60">
            <article class="blog-post single-item full-post">
                <div class="entry-thumbnail full-width">
                    <img src={{ asset('images/blod-top-slide-1.jpg') }} alt="">
                </div>
                <header class="single-item-body icon-body">
                    <center class=""><b style="color: firebrick">{{ post.titre }}</b></center>

                    <b class="post-date" style="float: right">{{ post.createdAt|date('d-m-y H:i') }}</b>
                    <div class="post-adds">
                        <a href="#" class="theme_button">
                            <i class="rt-icon2-arrow-forward-outline"></i>
                        </a>
                        <a href="#" class="theme_button inverse">
                            <i class="rt-icon2-heart-outline"></i>
                        </a>

                    </div>
                </header>

                <div class="entry-content">
                    <b>
                        {{  post.contenu }}            </b>
                    <p>
                    </p>

                </div>




                <div class="row">

                    <div class="col-md-12">
                        <p class="comment-form-chat">
                            <label for="comment">Comment</label>
                            {{  form_widget(form.contenu,{ 'attr': {'class': 'form-control'}}) }}</p>
                    </div>
                </div>
                <p class="form-submit">
                    <button type="submit" id="submit" name="submit"  class="btn-type1 colore-blue">Modifier</button>
                </p>
            </article>
        </div>

    </form>

    {{ form_end(form) }}

{% endblock %}