{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Groupes{% endblock title %}
{% block topline %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>

{% endblock topline %}

{% block profile %}
    <a href="{{ path('Profile_User') }}"><img src="{{ asset(app.user.username) }}" style="width:50px; height:50px;"  ></a>
{% endblock profile %}

{% block main %}

    {%   if app.user.idGrp() == NULL %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#famille">
            Créer un groupe
        </button>


        <!-- Modal -->
        <div class="modal fade" id="famille" tabindex="-1" role="dialog" aria-labelledby="familleLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="familleLabel">Creation de groupe</h4>
                    </div>
                    <form id="addform" name="addform" action="{{ path('Ajouter_groupe') }}" method="post">
                        <div class="modal-body">

                            <label for="nom">Nom du groupe : </label><input type="text" name="nom" id="nom" />
                            <label for="nom">Theme du groupe : </label><input type="text" name="theme" id="theme" />

                        </div>
                        <div class="modal-footer">
                            <input type="submit" name="submit" class="btn btn-success" href="{{ path('Ajouter_groupe') }}" >
                            <button type="button" class="btn btn-inverse" onclick='' data-dismiss="modal">cancel</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->

    {% endif %}

{% endblock %}



{% block footer %}
{% endblock footer %}