{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

    {% block title %}liste de Garderie{% endblock title %}
{% block topline %}{% endblock topline %}

{% block main %}
<div >
<div class="isotope_container isotope row masonry-layout" data-filters=".isotope_filters">
{% for Garderie in Garderie %}
    <div class="isotope-item col-lg-3 col-md-4 col-sm-6 education">
        <div class="vertical-item gallery-title-item content-absolute">
            <div class="item-media">
                <img src="{{ asset('images/') }}{{ Garderie.nomImage }}" style="width:428.4px;height: 285.6px;top: 74.25px">
                <div class="media-links">
                    <div class="links-wrap">
                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="{{ asset('images/') }}{{ Garderie.nomImage }}"></a>
                        <a class="p-link" title="" href="{{path ('ListeGard',{'id':Garderie.id_garderie})  }}"></a>
                        <h4>{{ Garderie.nom }}</h4>
                        <a href="{{path ('PresentationGard',{'id':Garderie.id_garderie})  }}" class="read-about">Read about us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-title text-center">
            <h2>

                <a href={{path ('ListeGard',{'id':Garderie.id_garderie})  }}>{{ Garderie.nom }}</a>
            </h2>

        </div>

    </div>
{% endfor %}


</div>
    </div>

{% endblock main %}
{% block footer %}{% endblock footer %}